* {
    margin: 0;
    padding: 0;
  }

  /* Navbar styles */
  .navbar {
    background-color: #803D3B;
    border: none;
  }
  
  .navbar-brand {
    color: #E4C59E;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
  }

  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
  }
  
  .navbar-nav > li {
    display: inline-block;
  }
  
  .navbar-nav > li > a {
    color: #E4C59E;
    padding: 15px;
    text-decoration: none;
  }

  .container {
    margin: 0 auto;
    padding: 20px;
  }
  
  .jumbotron {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .table-responsive {
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-striped tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  .table-striped th {
    background-color: #343a40;
    color: #fff;
  }
  
  .table-striped th,
  .table-striped td {
    padding: 8px;
    text-align: left;
  }
  
  .text-danger {
    color: #dc3545;
  }
  
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
  }
  
  .btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
  }
  
  .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
  
  .pull-right {
    float: right;
  }
  
  .glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .glyphicon-trash:before {
    content: "\e020";
  }
  
  .glyphicon-share-alt:before {
    content: "\e014";
  }
  