* {
    margin: 0;
    padding: 0;font-size: 20px;
  }

  /* Navbar styles */
  .navbar {
    background-color: #803D3B;
    border: none;
  }
  
  .navbar-brand {
    color: #E4C59E;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
  }

  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
  }
  
  .navbar-nav > li {
    display: inline-block;
  }
  
  .navbar-nav > li > a {
    color: #E4C59E;
    padding: 15px;
    text-decoration: none;
  }

  /* Jumbotron */
.jumbotron {
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .jumbotron h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: green;
  }
  
  .jumbotron p {
    font-size: 18px;
  }
  
  /* Text Center */
  .text-center {
    text-align: center;
    margin-top: 20px;
  }
  
  .text-center h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .text-center h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .text-center strong {
    font-weight: bold;
  }
  
  .text-center span {
    color: blue;
  }

  .credit-card-div {
    margin-top: 20px;
  }
  
  .panel-heading {
    background-color: #f8f8f8;
    padding: 10px;
  }
  
  .panel-heading h5 {
    font-size: 16px;
    color: #777;
  }
  
  .form-control {
    margin-bottom: 10px;
  }
  
  .small-font {
    font-size: 12px;
    color: #777;
  }
  
  .img-rounded {
    width: 50px;
    height: 30px;
  }
  
  .pad-adjust {
    padding-top: 10px;
  }
  
  .checkbox {
    margin-top: 10px;
  }
  
  .btn-block {
    margin-top: 10px;
  }
  
  .btn-danger {
    background-color: #d9534f;
    color: #fff;
    border: none;
  }
  
  .btn-success {
    background-color: #5cb85c;
    color: #fff;
    border: none;
  }
  
  .btn-danger:hover {
    background-color: #c9302c;
  }
  
  .btn-success:hover {
    background-color: #449d44;
  }